@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /*
  ================== Color Variables ==================
  */
  --color-grayScale-50: #fffff;
  --color-grayScale-100: #f5f5f5;
  --color-grayScale-200: #e6e6e6;
  --color-grayScale-300: #d9d9d9;
  --color-grayScale-400: #b3b3b3;
  --color-grayScale-500: #7a7a79;

  --color-black-100: #61605e;
  --color-black-200: #474643;
  --color-black-300: #302f2d;
  --color-black-400: #1e1e1e;
  --color-black-500: #111111;

  --color-primary-orange-100: #feeeea;
  --color-primary-orange-200: #fed8d0;
  --color-primary-orange-300: #fd947f;
  --color-primary-orange-400: #f9502e;
  --color-primary-orange-500: #e04829;

  --color-bg-100: #fcfcfc;
  --color-bg-200: #f7f7f7;
  --color-bg-300: #efefef;

  --color-line-100: #f2f2f2;
  --color-line-200: #e6e6e6;

  /*
  ================== Responsive Variables ==================
  */
  --breakpoint-sm: 480px; /* 모바일 */
  --breakpoint-md: 768px; /* 태블릿 */
  --breakpoint-lg: 1280px; /* PC (기본값) */
}

@custom-variant tab (@media (max-width: 1279px));
@custom-variant mobile (@media (max-width: 767px));

@layer utilities {
  .text-3xl {
    font-size: 32px;
    line-height: 42px;
  }

  .text-2xl {
    font-size: 24px;
    line-height: 32px;
  }

  .text-xl {
    font-size: 20px;
    line-height: 32px;
  }

  .text-2lg {
    font-size: 18px;
    line-height: 26px;
  }

  .text-lg {
    font-size: 16px;
    line-height: 26px;
  }

  .text-md {
    font-size: 14px;
    line-height: 24px;
  }

  .text-sm {
    font-size: 13px;
    line-height: 22px;
  }

  .text-xs {
    font-size: 12px;
    line-height: 20px;
  }
}

/*
================== Global Styles ==================
*/
body {
  background: var(--color-bg-100);
  color: var(--color-black-500);
  font-family: 'Pretendard', sans-serif;
  box-sizing: border-box;
}
