/* .react-datepicker__input-container {
  border: 2px solid #a6cfe9;
  display: flex;
  align-items: center;
}

.react-datepicker__calendar-icon {
  margin-top: 1px;
  padding: 5px;
  color: #a6cfe9;
  width: 23px;
  height: 23px;
}

input {
  width: 180px;
  color: #3f3f46;
  margin-left: 8px;
  caret-color: transparent;
  &:focus {
    outline: none;
  }
} */

.wrapper :global(.react-datepicker) {
  border: none;
  background-color: transparent;
}

.wrapper :global(.react-datepicker__header) {
  background-color: transparent;
  border-bottom: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.wrapper :global(.react-datepicker__triangle) {
  visibility: hidden;
}

.wrapper :global(.react-datepicker__current-month) {
  font-weight: 700;
  margin-bottom: 10px;
}

/* === 날짜 스타일 === */
.wrapper :global(.react-datepicker__mont) {
  margin: 0;
}

.wrapper :global(.react-datepicker__week) {
  padding: 0 14px;
  margin: 0;
}

.wrapper :global(.react-datepicker__day-names) {
  padding: 0 14px;
  margin: 0;
}

.wrapper :global(.react-datepicker__day-name) {
  /* 요일 */
  margin: 0;
  width: 40px;
  height: 38px;
  line-height: 38px;

  font-size: 13px;
  font-weight: 500;
  color: var(--gray-gray-400, #999);
}

.wrapper :global(.react-datepicker__day) {
  margin: 0;
  width: 40px;
  height: 38px;
  line-height: 38px;

  font-size: 14px;
  font-weight: 500;

  border-radius: 12px;
  /* color: var(--color-black-500); */
  transition: background-color 0.2s ease;
}

.wrapper :global(.react-datepicker__day:hover) {
  /* 날짜에 마우스를 올렸을 때 */
  background-color: #f0f0f0;
  border-radius: 12px;
}

.wrapper :global(.react-datepicker__day:not([aria-disabled='true']):hover) {
  /* 날짜에 마우스를 올렸을 때 */
  background-color: #f0f0f0;
  border-radius: 12px;
}

.wrapper :global(.react-datepicker__day--selected) {
  /* 선택된 날짜 */
  background-color: var(--color-primary-orange-400);
  border-radius: 12px;
  color: white;
}

.wrapper :global(.react-datepicker__day--keyboard-selected) {
  /* 키보드 선택된 날짜 */
  background-color: var(--color-primary-orange-100);
  border-radius: 12px;
}

.wrapper :global(.react-datepicker__day--selected:not([aria-disabled='true']):hover) {
  background-color: var(--color-primary-orange-300);
  border-radius: 12px;
}

.wrapper :global(.react-datepicker__day--outside-month) {
  /* 현재 달이 아닌 날짜 */
  color: var(--gray-gray-100, #d9d9d9);
}

.wrapper :global(.react-datepicker__day--outside-month:hover) {
  /* 날짜에 마우스를 올렸을 때 */
  color: white;
  background-color: transparent;
  border-radius: 12px;
}

.wrapper :global(.react-datepicker__day--disabled) {
  background-color: transparent;
  color: #ccc;
}

.wrapper :global(.react-datepicker__day--disabled:hover) {
  background-color: transparent;
  color: #ccc;
}

/* === 달 스타일 === */
.wrapper :global(.react-datepicker__month-wrapper) {
  padding: 0 14px;
  margin: 0;
}

.wrapper :global(.react-datepicker__month-text) {
  width: 90px;
  height: 50px;
  line-height: 50px;

  font-size: 16px;
  font-weight: 500;

  border-radius: 12px;
  margin: 0 !important;
}

.wrapper :global(.react-datepicker__month-text:hover) {
  background-color: #f0f0f0;
  border-radius: 12px;
}

.wrapper :global(.react-datepicker__month-text:not([aria-disabled='true']):hover) {
  background-color: #f0f0f0;
  border-radius: 12px;
}

.wrapper :global(.react-datepicker__month-text--selected) {
  background-color: var(--color-primary-orange-400);
  border-radius: 12px;
  color: white;
}

.wrapper :global(.react-datepicker__month-text--keyboard-selected) {
  background-color: var(--color-primary-orange-100);
  border-radius: 12px;
}

.wrapper :global(.react-datepicker__month-text--selected:not([aria-disabled='true']):hover) {
  background-color: var(--color-primary-orange-300);
  border-radius: 12px;
  color: white;
}

.wrapper :global(.react-datepicker__month-text--disabled) {
  background-color: transparent;
  color: #ccc;
}

.wrapper :global(.react-datepicker__month-text--disabled:hover) {
  background-color: transparent;
  color: #ccc;
}
